.App {
  min-height: 100vh;
  display: flex;
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-position: center;
  color: black;
}
@font-face {
  font-family: "lastica";
  src: url(./fonts/Lastica.otf);
}
